<script>
$(function(){
	alert('Привет');
})
</script>

<h1><%= @message %></h1>

<div class="req url">
  <%= text_field_tag "input" %>
</div>

<div class="req params">

</div>

<div class="req sig">

</div>	