
<div class = "row-fluid">
  <div class="my_center">
    <h1>Формирование запроса к апи с подписью</h1>
  </div>
</div>

<div class = "row-fluid">
  <div class="span8 my_center ">
    <hr/>   
  </div>
</div>   


<%= render 'form' %>

<%#= link_to 'Back', requests_path %>
